* {
  color: purple;
  background-color: white;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  background-color: white;
  overflow: auto;
}

header {
  position: sticky;

  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.header-buttons {
}

.new-task-btn {
}

.new-project-btn {
}

.task-form-div {
  position: fixed;
  left: 0%;
  top: 10%;
  z-index: -1;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.task-form {
  width: fit-content;
  padding: 10%;
  border: 1px black solid;
}

.center-page {
  display: grid;
  grid-template-columns: 15% 85%;
  top: 10vh;
  /* bottom: 30%; */
}

.sidebar {
  height: 90vh;
  position: fixed;
  top: 10vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 15vw;
}

.sidebar button {
}

.project-list {
}

.sidebar button {
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 250px));
  grid-auto-flow: row;
  justify-content: center;
  gap: 5px;
  margin-left: 110%;
  margin-top: 10px;
  width: 80vw;

  height: 100%;
  padding-bottom: 70px;
}

.singleTask {
  padding: 5px;
  min-height: 259px;
  max-height: fit-content;
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  background-color: white;
  margin-right: var(--scrollbar-width, 0px);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
